.expense {
    position: relative;
    padding: 2rem 1.5rem;
    box-shadow: 0px 4px 16px rgba(196, 196, 204, 0.25);
}

.expense__color {
    width: 118px;
    height: 6px;
    background: var(--comida);
    position: absolute;
    top: 0;
    left: 0;
    transform: rotate(90deg) translate(40px, 62px);
}

.expense__container {
    display: flex;
    justify-content: space-between;
}

.expense__date {
    text-transform: capitalize;
    color: var(--gray-300);
    line-height: 18px;
}